/* Medium Layout: 1280px. */

@media only screen and (min-width: 992px) and (max-width: 1200px) {}
/* Tablet Layout: 768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .mainmenu .navbar-nav li a {
        font-size: 12px;
        padding: 30px 11px;
    }
    .menu-bg .mainmenu .navbar-nav li a {
        padding: 30px 11px;
    }
    .logo {
        float: left
    }
    .menu-bg .logo {
        padding-top: 2px;
    }
}
/* Mobile Layout: 320px. */

@media only screen and (max-width: 767px) {
    .navbar-toggle .icon-bar {
        background: #f8f8f8;
    }
    .menu-bg .navbar-toggle .icon-bar {
        background: #3ac4fa;
    }
    .navbar-toggle {
        margin-right: 0px;
        margin-top: -30px;
    }
    .navbar {
        min-height: 0px;
    }
    .mainmenu .navbar-nav li a {
        padding: 11px 15px;
    }
    .menu-bg .mainmenu .navbar-nav li a {
        padding: 11px 15px;
    }
    .navbar-toggle {
        margin-top: -34px;
    }
    .navbar-collapse {
        background: rgba(0, 0, 0, .9);
    }
    .menu-bg .navbar-collapse {
        background: rgba(0, 0, 0, .9);
    }
    .single-slide-item h2 {
        font-size: 24px;
        line-height: 26px;
    }
    a.slide-btn {
        font-size: 14px;
        padding: 8px 16px;
        width: 120px;
    }
    .welcome-control {
        display: none;
    }
    .single-slide-item p {
        margin-bottom: 5px;
    }
    .section-title h2 {
        font-size: 20px;
    }
    .single-featured {
        cursor: pointer;
        margin-top: 30px;
    }
    .great-started-text h4 {
        font-size: 15px;
    }
    ul.work li {
        margin: 2px 0 5px;
        padding: 8px 10px;
    }
    .single-post-content h4 > a {
        font-size: 16px;
    }
    .footer-widget {
        margin-top: 30px;
    }
}
/* Wide Mobile Layout: 480px. */

@media only screen and (min-width: 480px) and (max-width: 767px) {}